.label {
  color: hsl(var(--neutral-grayish-cyan));
}

.input {
  margin: 0.5rem 0 0;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: var(--input-fs);
  text-align: end;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  background: #f6f6f6;
  transition: background-color 0.25s;
}

.input:hover {
  background: #e8e6e6;
}

.input-icon {
  position: absolute;
  top: 4.275rem;
  left: 1rem;
}

.input:focus {
  outline: 2px solid hsl(var(--primary-strong-cyan));
}
