.container {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  min-height: 50vh;
  width: 960px;
  gap: 2rem;
  border: none;
  border-radius: 50px;
  background: hsl(var(--neutral-white));
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1725);
}

.input-box {
  padding: 1rem 0;
  position: relative;
}

.tip-percentage {
  margin: 2rem 0;
}

.tip-percentage p {
  color: hsl(var(--neutral-grayish-cyan));
}

.tipButton-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tip-input {
  padding: 1rem 0;
  width: 8.825rem;
  font-size: 1.252rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: hsl(var(--neutral-very-light-grayish-cyan));
  transition: ease-out 0.25s;
}

.tip-input:focus {
  width: 7.825rem;
  padding: 1rem 1rem 1rem 0;
  text-align: end;
  outline: 2px solid hsl(var(--primary-strong-cyan));
  background: hsl(var(--neutral-white));
  color: hsl(var(--neutral-very-dark-cyan));
}

.tip-input:focus::placeholder {
  color: hsl(var(--neutral-white));
}

.bill-container,
.tip-container {
  width: 50%;
}

.tip-container {
  position: relative;
  border: none;
  border-radius: 20px;
  background: hsl(var(--neutral-very-dark-cyan));
}

.tip-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  line-height: 0.5;
}

.tip-amount p,
.total p {
  color: hsl(var(--neutral-white));
}

.tip-amount span,
.total span {
  color: hsl(var(--neutral-grayish-cyan));
}

.value {
  color: hsl(var(--primary-strong-cyan)) !important;
  font-size: 2.75rem;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 2rem 0;
  width: 100%;
  bottom: 1rem;
}
