.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: hsl(var(--neutral-light-grayish-cyan));
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  min-height: 50vh;
  width: 960px;
  gap: 2rem;
  border: none;
  border-radius: 20px;
  background: hsl(var(--neutral-white));
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1725);
}

.input-box {
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.error-message {
  position: absolute;
  right: 0;
  top: 1.2rem;
  font-size: 0.825rem;
  color: red;
}

.tip-percentage {
  margin: 2rem 0;
}

.tip-percentage p {
  margin: 0 0 1rem;
  color: hsl(var(--neutral-grayish-cyan));
}

.tipButton-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tip-input {
  padding: 1rem 0;
  width: 8.125rem;
  font-size: 1.252rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: hsl(var(--neutral-very-light-grayish-cyan));
  transition: ease-out 0.25s;
}

.tip-input:focus {
  padding: 1rem 1rem 1rem 0;
  text-align: end;
  outline: 2px solid hsl(var(--primary-strong-cyan));
  background: hsl(var(--neutral-white));
  color: hsl(var(--neutral-very-dark-cyan));
}

.tip-input:focus::placeholder {
  color: hsl(var(--neutral-white));
}

.bill-container,
.tip-container {
  width: 50%;
}

.tip-container {
  position: relative;
  border: none;
  border-radius: 20px;
  background: hsl(var(--neutral-very-dark-cyan));
}

.tip-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  line-height: 1.5;
}

.tip-amount p,
.total p {
  color: hsl(var(--neutral-white));
}

.tip-amount span,
.total span {
  color: hsl(var(--neutral-grayish-cyan));
}

.value {
  color: hsl(var(--primary-strong-cyan)) !important;
  font-size: 2.75rem;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 2rem 0;
  width: 100%;
  bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .app {
    display: block;
    min-height: auto;
  }

  .container {
    display: block;
    padding: 1rem 2.25rem;
    margin: 0 auto 1rem;
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .tip-percentage {
    margin: 1rem 0;
  }

  .tipButton-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .tip-input {
    padding: 1rem 0;
    width: 8.825rem;
    font-size: 1.252rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: hsl(var(--neutral-very-light-grayish-cyan));
    transition: ease-out 0.25s;
  }

  .tip-input:focus {
    width: 7.825rem;
    padding: 1rem 1rem 1rem 0;
    text-align: end;
    outline: 2px solid hsl(var(--primary-strong-cyan));
    background: hsl(var(--neutral-white));
    color: hsl(var(--neutral-very-dark-cyan));
  }

  .tip-input:focus::placeholder {
    color: hsl(var(--neutral-white));
  }

  .bill-container,
  .tip-container {
    width: 100%;
  }

  .tip-container {
    margin: 2rem 0 0;
  }

  .tip-container {
    padding: 3rem 0;
  }

  .tip-box {
    margin: 1.5rem 1.5rem 2rem;
  }

  .tip-box:nth-child(2) {
    margin-bottom: 3.75rem;
  }

  .value {
    font-size: 2.35rem;
  }

  .button-box {
    margin: 0;
    width: 100%;
    bottom: 1rem;
  }
}
