@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap");

:root {
  --primary-strong-cyan: 172, 67%, 45%;
  --neutral-very-dark-cyan: 183, 100%, 15%;
  --neutral-dark-grayish-cyan: 186, 14%, 43%;
  --neutral-grayish-cyan: 184, 14%, 56%;
  --neutral-light-grayish-cyan: 185, 41%, 84%;
  --neutral-very-light-grayish-cyan: 189, 41%, 97%;
  --neutral-white: 0, 0%, 100%;
  --input-fs: 24px;
  --main-ff: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-ff);
}
